.root {
  margin-left: calc( -1 * var(--doc-padding-left) );
  position: relative;
  width: calc( 100% + var(--doc-padding-left) + var(--doc-padding-right) );
  z-index: -1;
}

.root > div {
  position: absolute;
  top: -25px;
}

.rectangle {
  background-color: #F3F5F9;
  margin-top: -9px;
  height: 10000px;
  width: 100%;
}

html[data-theme='dark'] .rectangle {
  background-color: #1F263F;
}
