.root {
  align-items: center;
  background-color: var(--doc-component-background);
  display: inline-flex;
  padding: 
    calc( 19px + var(--border-width) )
    calc( 14px + var(--border-width) )
    calc( 19px + var(--border-width) )
    calc( 19px + var(--border-width) );
}

.image {
  --image-size: 40px;
  background-size: var(--image-size) var(--image-size);
  background-repeat: no-repeat;
  height: var(--image-size);
  margin-right: 10px;
  width: var(--image-size);
}

.title {
  font-size: 12px;
  font-weight: 300;
  margin: 0;
}
