.root {
  font-size: 13px;
  padding: 20px var(--right-sidebar-horizontal-padding);
}

.title, .contentsLink {
  color: var(--toc-color);
  display: block;
  padding-bottom: 13px;
}

.title {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 13px;
  text-transform: uppercase;
}

.contentsLink {
  font-size: 14px;
}

.category {
  padding: 0;
}
