@value large-tablet-breakpoint-query from '~CSS/variables.module.css';

/* Search */
:global(.navbar__search) {
  --search-width: calc(
    var(--sidebar-width) - 
    (var(--sidebar-horizontal-padding) * 2 )
  );
  border-bottom: 1px solid var(--default-border-color);
}

:global(.ds-dropdown-menu) {
  min-width: var(--search-width) !important;
}

:global(.algolia-autocomplete, #search_input_react) {
  width: 100%;
}

:global(.algolia-autocomplete) {
  width: calc( 100% - 10px );
}

:global(#search_input_react) {
  --icon-size: 16px;
  background-color: var(--default-background-color);
  background-repeat: no-repeat;
  background-size: var(--icon-size) var(--icon-size);
  background-position: 0 50%;
  border: 0;
  color: var(--primary-gray);
  font-size: 18px;
  height: 60px !important;
  padding-left: calc( var(--icon-size) + 10px );
  -webkit-appearance: none;
  background-image: url(/img/search.svg);
}

:global(#search_input_react:focus) {
  outline: none;
}

.sidebar {
  --sidebar-gray: var(--primary-gray);
  font-size: 10px; /* Basis for em */
  outline: none;
}

.menu {
  padding: 0 var(--sidebar-horizontal-padding);
}

.sidebar .menu:not(:global(.menu--show)) .menuList, 
.sidebar .menu:not(:global(.menu--show)) :global(#search_input_react) {
  display: none;
  opacity: 0;
}

.menu .listItem {
  display: flex;
  margin: 0;
}

.sidebar .menu .category ul {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.category:first-child {
  margin-top: 0;
}

.sidebar ul > .categoryTitle {
  margin: 0;
}

.sidebar ul > .categoryTitle > .menuLink {
  align-self: flex-start;
}

.sidebar ul > .categoryTitle > .menuLink:hover {
  background-color: inherit;
  cursor: default;
}

.menu .menuLink {
  padding: 0;
  align-self: center;
}

.menuLink:focus {
  outline: none;
}

.menuLink span {
  align-self: center;
}

.active {
  color: var(--accent-highlight) !important;
}

.sidebar .listItem > .menuLink:hover {
  background-color: inherit;
  color: var(--accent-highlight);
}

.menu .withBackgroundImage, .menu .menuLink.withBackgroundImage {
  --icon-size: 25px;
  background-repeat: no-repeat;
  background-size: var(--icon-size) var(--icon-size);
  padding-left: calc(var(--icon-size) + 1em);
  min-height: var(--icon-size);
}

/* Passed in dynamically via sidebar config */
.menu .iconSmall .withBackgroundImage {
  --icon-size: 15px;
}
                                                                                                                  
.menu .backToHome {
  margin-top: 3em;
}

.menu .backToHome span {
  color: var(--sidebar-gray);
  font-size: 18px;
  margin-top: -3px;
}

.menu .label {
  margin-top: 2.9em;
  margin-bottom: 2.2em;
}

.menu .categoryIndex {
  margin-bottom: 2.5em;
}

/* Themes */
.primary .menuLink, .menuLink.primary {
  color: var(--sidebar-primary-title);
  font-size: 1.8em;
}

.category ul.primary {
  margin-bottom: 3.5em;
}

.category ul.primary > .categoryTitle > .menuLink {
  color: var(--sidebar-gray);
  font-size: 1.5em;
  letter-spacing: .6px;
  margin-bottom: .8em;
  text-transform: uppercase;
}
.category ul.primary .listItem {
  margin: .35em 0;
}

.secondary .menuLink, .secondary > .menuLink {
  color: var(--sidebar-gray);
  font-size: 1.6em;
}

.category ul.secondary {
  margin-bottom: 1.7em;
}

.category ul.secondary > .categoryTitle > .menuLink {
  color: black;
  padding-top: .2em;
  padding-bottom: .5em;
}

@media large-tablet-breakpoint-query {
  .sidebar {
    height: calc(100vh - var(--total-nav-height) );
    overflow-y: auto;
    position: sticky;
    top: 0;
    margin-bottom: .5px !important;
  }

  .sidebar .menu:not(:global(.menu--show)) .menuList, 
  .sidebar .menu:not(:global(.menu--show)) :global(#search_input_react) {
    display: block;
    opacity: 1;
  }

  :global(.ds-dropdown-menu) {
    width: 100%;
  }

  :global(.navbar__search) {
    /* 
     * Allow for a border that traverses the width of the 
     * whole sidebar without the need for absolute positioning
     */
    margin-left: calc(-1 * var(--sidebar-horizontal-padding));
    padding-left: calc(var(--sidebar-horizontal-padding));
    width: calc(100% + 2 * var(--sidebar-horizontal-padding));
  }
}
