html,
body {
  height: 100%;
}

body {
  margin: 0;
  transition: var(--ifm-transition-fast) ease color;
  min-height: 100vh;
}

#__docusaurus {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.width-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.main-wrapper {
  flex: 1 0 auto;
}

.nav-spacer {
  height: 140px;
}

.nav-pusher {
  overflow-y: scroll;
  height: calc(100vh - 180px);
}
