.header {
  background-color: var(--snippet-header-background);
  border-top-left-radius: var(--ifm-pre-border-radius);
  border-top-right-radius: var(--ifm-pre-border-radius);
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.copyWrapper {
  --icon-size: 12px;
  background-position: 99% 2.5px;
  background-repeat: no-repeat;
  background-size: var(--icon-size);
  display: flex;
  margin-right: 5px;
  padding: 3px calc(var(--icon-size) + 4px) 3px 0;
}

.copyWrapper:not(.isCopied), .copyWrapper:not(.isCopied) button {
  cursor: pointer;
}

.header button {
  background-color: transparent;
  border: none;
  color: var(--snippet-copy-color);
  font-size: 10px;
}

.header button:focus {
  outline: none;
}

.root pre {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.root :global(.token-line) {
  display: table-row;
}


.lineNumber {
  display: table-cell;
  padding-right: 13px;
  text-align: right;
  user-select: none;
  -moz-user-select: none;
  word-break: keep-all;
}
