body a:hover {
  color: inherit;
}

.prism-code > * {
  /* 
   * Prevents code block from overflowing on extremely
   * long words
   */
  white-space: pre-wrap !important;
  word-break: break-all;
}

/* Code Snippet  */
.snippet-container {
  position: relative;
}

.snippet-container .tabs, .snippet-header {
  background-color: var(--snippet-header-background);
  border-top-left-radius: var(--ifm-global-radius);
  border-top-right-radius: var(--ifm-global-radius);
  flex-wrap: wrap;
  height: 36px;
}

.single-wrapper {
  height: 100%;
}

.snippet-container .tab-item {
  border: 0px !important;
  font-family: NB International Pro Bold;
  font-size: 12px;
  outline: none;
  padding: 8px;
}

.snippet-container .tab-item:hover,
.snippet-container .tab-item:focus {
  background-color: inherit;
}

.snippet-container .tab-item:first-child {
  padding-left: 15px;
}

.snippet-container div {
  position: initial;
}

.snippet-container div[role="tabpanel"] {
  margin: 0 !important;
}

/* Code Snippet  */
.snippet-container {
  position: relative;
}

.snippet-container .tabs, .snippet-header {
  background-color: var(--snippet-header-background);
  border-top-left-radius: var(--ifm-global-radius);
  border-top-right-radius: var(--ifm-global-radius);
  flex-wrap: wrap;
  height: 36px;
}

.single-wrapper {
  height: 100%;
}

.snippet-container .tab-item {
  border: 0px !important;
  font-family: NB International Pro Bold;
  font-size: 12px;
  outline: none;
  padding: 8px;
}

.snippet-container .tab-item:hover,
.snippet-container .tab-item:focus {
  background-color: inherit;
}

.snippet-container .tab-item:first-child {
  padding-left: 15px;
}

.snippet-container div {
  position: initial;
}

.snippet-container div[role="tabpanel"] {
  margin: 0 !important;
}

.snippet-container .prism-code {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
