@media large-tablet-breakpoint-query {
  :root {
    --primary-nav-height: 80px;
  };
}

html[data-theme='dark'] {
  --accent-highlight: #6889E5;
  --default-background-color: var(--dark-mode-black-darkest);
  --default-border-color: var(--dark-mode-black-lighter);
  --doc-component-background: var(--dark-mode-black-lighter);
  --doc-primary: white;
  --doc-title: white;
  --ifm-tabs-color-active: white;
  --ifm-tabs-color: var(--primary-gray);
  --nav-page-indicator-primary: white;
  --nav-page-indicator-secondary: var(--dark-mode-gray-1);
  --nav-primary-text-color: white;
  --primary-gray: var(--dark-mode-gray-2);
  --right-sidebar-top-bar-hover: var(--accent-highlight);
  --sidebar-gray: var(--dark-mode-gray-1);
  --sidebar-primary-title: var(--dark-mode-gray-2);
  --snippet-copy-color: white;
  --snippet-copy-url: url('/img/copy-dark.svg');
  --snippet-header-background: #50576B;
  --subnav-background: #2A3045;
  --subnav-text-color: var(--dark-mode-gray-1);
  --toc-color: #A3ACB9;
  --toggle-background: var(--dark-mode-gray-1);
  --toggle-indicator-background: var(--default-background-color);
}

:root {
  /* Sizing */
  --body-horizontal-padding: 30px;
  --body-padding-top: 50px;
  --cumulative-desktop-body-padding: calc(
    var(--total-nav-height) +
    var(--body-padding-top)
  );
  --doc-card-size: 245px;
  --ifm-code-font-size: 95%;
  --nav-height-mobile: 60px;
  --nav-horizontal-padding: var(--body-horizontal-padding);
  --primary-nav-height: 80px;
  --right-sidebar-width: 230px;
  --subnav-height: 60px;
  --total-nav-height: calc( var(--primary-nav-height) + var(--subnav-height) );
  /* Global Colors */
  --accent-highlight: var(--brand-color);
  --brand-color: #42318c;
  --dark-mode-black-lighter: #3C4357;
  --dark-mode-black-darker: #131313;
  --dark-mode-black-darkest: #191F36;
  --dark-mode-gray-1: #969CA5;
  --dark-mode-gray-2: #A3ACB9;
  --dark-mode-gray-3: #A9A9A9;
  --dark-mode-white-ghost: #FAFAFA;
  --default-background-color: white;
  --default-border-color: #E5E5E5;
  --primary-gray: #757575;
  /* Component specific colors */
  --doc-component-background: white;
  --doc-primary: #15112C;
  --doc-title: var(--doc-black);
  --nav-black: #414f64;
  --nav-page-indicator-primary: #354052;
  --nav-page-indicator-secondary: #5F7186;
  --nav-primary-text-color: #42318c;
  --right-sidebar-top-bar-hover: #354052;
  --snippet-header-background: #E3E8EE;
  --snippet-copy-color: #6B7689;
  /* TODO: Look into accounting varying browser widths of scrollbar */;
  --scrollbar-width: 10px;
  --sidebar-gray: var(--dark-mode-gray-1);
  --sidebar-horizontal-padding: var(--body-horizontal-padding);
  --sidebar-primary-title: #1c1e21;
  --snippet-copy-url: url('/img/copy.svg');
  --subnav-background: #F9F8F8;
  --subnav-text-color: black;
  --toc-color: black;
  --toggle-background: #4d4d4d;
  --toggle-indicator-background: #fafafa;
  /* legacy colors */
  --ifm-color-primary: #42318C;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
};

/* Breakpoints */
@value small-mobile-breakpoint-size: 320;
@value small-mobile-breakpoint-query: (min-width: calc(small-mobile-breakpoint-size * 1px));

@value mobile-breakpoint-size: 420;
@value mobile-breakpoint-query: (min-width: calc(mobile-breakpoint-size * 1px));

@value small-tablet-breakpoint-size: 580;
@value small-tablet-breakpoint-query: (min-width: calc(small-tablet-breakpoint-size * 1px));

@value medium-tablet-breakpoint-size: 768;
@value medium-tablet-breakpoint-query: (min-width: calc(medium-tablet-breakpoint-size * 1px));

@value large-tablet-breakpoint-size: 1024;
@value large-tablet-breakpoint-query: (min-width: calc(large-tablet-breakpoint-size * 1px));

@value desktop-breakpoint-size: 1280;
@value desktop-breakpoint-query: (min-width: calc(desktop-breakpoint-size * 1px));

@value large-desktop-breakpoint-size: 1400;
@value large-desktop-breakpoint-query: (min-width: calc(large-desktop-breakpoint-size * 1px));
