.root {
  align-items: center;
  background-color: var(--doc-component-background);
  display: inline-flex;
  padding: 20px;
}

.image {
  --image-size: 40px;
  background-repeat: no-repeat;
  background-size: var(--image-size) var(--image-size);
  height: var(--image-size);
  margin-right: 10px;
  width: var(--image-size);
}

.textContainer {
  display: flex;
  flex-direction: column;
  width: 155px;
}

.title {
  font-size: 15px;
  margin: 0;
}

.tag {
  background-color: rgba(116,104,171,0.1);
  border-radius: 9px;
  font-size: 9px;
  margin-right: 3px;
  padding: 3px 10px;
}
